
@{
    ViewData["Title"] = "View Investments";

}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <p><span id='display'></span></p>
    <div class="wrap">
        <form asp-controller="Home" asp-action="Search" method="post">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search for an investment..." name="SearchInput" id="searchinput">
                <button type="submit" class="searchButton" onclick="showInput();">
                    <i class="fa fa-search">Go</i> = $0
                </button>
            </div>
        </form>
    </div>






    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="~/Home/AddInvestment">Add Investment</a>
        <a href="~/Home/ViewInvestments">View Investments</a>
        <a href="~/Home/Account">Account</a>
        <a href="~/Home/About">About</a>
        <a href="~/Home/Index">Logout</a>
    </div>

    <div id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
        <h1 style="text-align: center; margin: auto;"></h1>
    </div>



</body>
<script>function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }


    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";


    }

    function showInput() {
        //document.getElementById('display').innerHTML =
        let display = "hi";
            document.getElementById("searchinput").value;
    </script>
<style>


    body {
        font-family: "Lato", sans-serif;
        float: left;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    body {
        background: #f2f2f2;
        font-family: sans-serif;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 15px;
        height: 30px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: #00B4CC;
        }

    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>



